@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --foreground: #171717;
  --bg: #0a0c12;
  --panel: #151923;
  --glass: rgba(255, 255, 255, 0.06);
  --text: #eef2ff;
  --muted: #9aa4b2;
  --brand: #f6b600;
  --accent: #2bd4a1;
  --danger: #ff5c7c;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  --custom-bg: rgba(255, 255, 255, 0.08)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
